<div class="container">

  <div class="row top">

  </div>
  <div class="col-xs-8 col-xs-offset-2 text-center">
  <% if !@result %>
    <%= render "form" %>
  <% elsif @result == "ok" %>
    <p><%= flash[:notice] %></p>
  <% else %>
    <p><%= flash[:error] %></p>
  <% end %>
  </div>

</div>
