<div class="container">

  <div class="row top">

  </div>
  <div class="col-xs-8 col-xs-offset-2 text-center">
    <% if !flash[:notice] %>
      <%= render "form" %>
    <% else %>
      <p><%= flash[:notice] %></p>
    <% end %>
  </div>

</div>
